
<<<<<<< HEAD
    <ion-content class="ionic login animate-pan-in-left">
=======
    <ion-content class="ionic login animate-pan-in-left" style="background-image: url('../img/mountains.jpg');">
>>>>>>> 030dfb3acdd64836436d9c708aaf1e531fd24193
        

        <div class="hero no-header flat">
            <div class="content">
                <i class="ion-unlocked icon hero-icon royal-bg"></i>
                <h1>DeKUT APP</h1>
            </div>
        </div>
        <!--div for continue with google-->
        
        <div class="list">
            <ion-md-input placeholder="Email" highlight-color="balanced" type="email" ng-model="user.email"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
        </div>
        <div class="padding">
            <button class="button button-block button-positive waves-effect waves-light" ng-click="validateUser()">Login &nbsp
<i class="ion-key"></i>
            </button>
            
        </div>
        <div class="contbutt">
        <a class="button button-assertive" ng-click="login('google')">
          <i class="ion-social-googleplus"></i>&nbsp Continue With Google
          <!--<i class="ion-social-facebook"></i> -->


      </a>
      </div>
        
    </ion-content>

