<ion-tabs class="tabs-positive">

   <ion-tab title="Sign In" icon-on="ion-ios7-locked" 
      icon-off="ion-ios7-locked-outline" href="#/auth/signin">
      <ion-nav-view name="auth-signin"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Sign Up" icon-on="ion-ios7-personadd" 
      icon-off="ion-ios7-personadd-outline" href="#/auth/signup">
      <ion-nav-view name="auth-signup"></ion-nav-view>
   </ion-tab>
   
</ion-tabs>
