
    <ion-content class="ionic login animate-pan-in-left" style="background-image: url('../img/mountains.jpg');">

        <div class="hero no-header flat">
            <div class="content">
                <i class="ion-person-add icon hero-icon royal-bg"></i>
                <h1>DeKUT APP</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Email" highlight-color="balanced" type="email" ng-model="user.email"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
        </div>
        <div class="padding">
            <button class="button button-block button-positive waves-effect waves-light" ng-click="createUser()">Sign Up &nbsp
            <i class="ion-paper-airplane"></i>
             </button>

        </div>
        <div class="button-bar">
            <button class="button button-small button-outline button-assertive light-bg icon-left ion-social-google waves-effect waves-button waves-light">Google+</button>
            <button class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light">Facebook</button>
        </div>
       
    </ion-content>


