<ion-tabs class="ionic tabs-icon-top">
   <ion-tab title="My List" icon-on="ion-ios7-browsers" 
      icon-off="ion-ios7-browsers-outline" href="#/bucket/list">
      <ion-nav-view name="bucket-list"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Completed" icon-on="ion-ios7-checkmark" 
      icon-off="ion-ios7-checkmark-outline" href="#/bucket/completed">
      <ion-nav-view name="bucket-completed"></ion-nav-view>
   </ion-tab>
</ion-tabs>