<ion-header-bar class="ionic bar-positive">
   <h1 class="title">Completed Reads</h1>
   <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content class="ionic has-header padding" has-tabs="true" on-refresh="onRefresh()">
   <div class="card" ng-repeat="item in list" >
      <div class="item item-text-wrap">
         <span>
         {{ item.item }}
         </span>
         <br/>  <br/>
         <p class="actions padding">
            <i class="ion-trash-b icon-actions margin" ng-click="deleteItem('{{item.key}}')"></i>
         </p>
      </div>
   </div>
   <div class="card" >
      <div class="item item-text-wrap" ng-show="noData || incomplete">
         <span ng-show="incomplete">
         You can have not completed any of your ToReads items yet. Try harder!!
         </span>
         <span ng-show="noData">
         No Items in your ToRead List.
         </span>
      </div>
   </div>
</ion-content>