<<<<<<< HEAD
<ion-header-bar class="bar-positive">
   <button class="button button-clear" ng-click="newTask()">New</button>
   <h1 class="title">My Bucket List</h1>
   <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
   <div class="card" ng-repeat="item in list" id="{{item.key}}" >
=======
<ion-header-bar class="ionic bar bar-header bar-positive">
   <h1 class="title">ToRead</h1>
   <button class="button button-icon icon flat" ng-click="logout()">Logout
<i class="ion-log-out"></i>
   </button>

</ion-header-bar>

<ion-content class="ionic content has-header animate-fade-slide-in" has-tabs="true" on-refresh="onRefresh()">

   <div class="card in done" ng-repeat="item in list" id="{{item.key}}" >
>>>>>>> 030dfb3acdd64836436d9c708aaf1e531fd24193
      <div class="item item-text-wrap">
         <span>
         {{ item.item }}
         </span>
         <br/>  <br/>
         <p class="actions padding">
            <i class="ion-checkmark-circled icon-actions margin" ng-click="markCompleted('{{item.key}}')"></i>
            <i class="ion-trash-b icon-actions margin" ng-click="deleteItem('{{item.key}}')"></i>
         </p>
      </div>
   </div>
<<<<<<< HEAD
   <div class="card" >
      <div class="item item-text-wrap" ng-show="noData">
         <span>
         No Items in your bucket List. Click  <a href="javascript:" ng-click="newTask()">Here</a> and create one
         </span>
      </div>
   </div>
</ion-content>
=======
   <div class="card in done" >
      <div class="item item-text-wrap" ng-show="noData">
         <span>
         No Items in your ToRead. Click  <a href="javascript:" ng-click="newTask()">Here</a> and create one
         </span>
      </div>
   </div>
   

</ion-content>
>>>>>>> 030dfb3acdd64836436d9c708aaf1e531fd24193
