<ion-header-bar class="ionic bar bar-header bar-positive">
<button class="button button-icon icon ion-navicon flat"></button>
            <h1 class="title">News</h1>
</ion-header-bar>
<ion-content class="ionic">
</ion-content>