<ion-tabs class="ionic tabs-positive">

   <ion-tab title="News" icon="ion-bookmark" href="#/land/news">
      <ion-nav-view name="land-news"></ion-nav-view>
   </ion-tab>
    <ion-tab title="Notices" icon="ion-bookmark" href="#/land/notices">
      <ion-nav-view name="land-notices"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Notices" icon="ion-speakerphone" href="#/land/notices">
      <ion-nav-view name="land-notices"></ion-nav-view>
   </ion-tab>
   
</ion-tabs>
