 <ion-content class="ionic login animate-pan-in-left" style="background-image: url('../img/mountains.jpg');">

        <div class="hero no-header flat">
            <div class="content double-padding">
                <i class="ion-person-add icon hero-icon royal-bg"></i>
                <h1>Welcome TO Dedan Kimathi</h1>
            </div>
        </div>
        Route Working
        <div class="padding">
            "Better Life Through Technology"

        </div>
        
       
    </ion-content>